<!-- <div class="login-title text-center">
  <h1><i class="gi gi-flash"></i> <strong>ProUI</strong><br><small>Please <strong>Login</strong> or <strong>Register</strong></small></h1>
</div>
<div class="block push-bit">
<%= form_for resource, as: resource_name, url: session_path(resource_name),
  html: {class: "form-horizontal form-bordered form-control-borderless", id: "form-login"} do |f| %>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "form-control input-lg", placeholder: "Email"  %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
        <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg",
          placeholder: "Password" %>
      </div>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-xs-4">
      <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
      <%= f.check_box :remember_me, checked: true %>
      <span></span>
      </label>
    </div>
    <div class="col-xs-8 text-right">
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-angle-right"></i> Login
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <a href="javascript:void(0)" id="link-reminder-login"><small>Forgot password?</small></a> -
    </div>
  </div>
<% end %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name),
  html: {method: :post, class: "form-horizontal form-bordered form-control-borderless display-none",
    id: "form-reminder"}) do |f| %>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "form-control input-lg", placeholder: "Email" %>
      </div>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-xs-12 text-right">
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-angle-right"></i> Reset Password
      </button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <small>Did you remember your password?</small> <a href="javascript:void(0)" id="link-reminder"><small>Login</small></a>
    </div>
  </div>
<% end %>
 -->
 <div class="reg-block">
  <div class="reg-block-header">
    <h2>Đăng nhập</h2>
    <ul class="social-icons text-center">
      <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
      <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
      <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
      <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
    </ul>
    <p>Đăng nhập bằng mạng xã hội hoặc nhập vào tài khoản của bạn.</p>
  </div>
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {id: "form-user-session"} do |f| %>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",
          id: "user-login-email" %>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, autofocus: true, autocomplete: "email", class: "form-control",
          id: "user-login-password" %>
      </div>
    </div>
    <hr>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        <p>Ghi nhớ tôi</p>
      </label>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
          <button type="submit" class="btn btn-default btn-lock"> Login</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
