<nav class="navbar navbar-default bg-white non-height">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><%= image_tag "logo.png" %></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse yamm" id="navigation">
      <div class="button navbar-right">
        <% if current_user.present? %>
          <button class="navbar-btn nav-button wow bounceInRight login"
            onclick="window.location.href = '<%= profile_path %>'"  data-wow-delay="0.45s">
            Xin chào!<%= current_user.name %></button>
        <% else %>
          <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.location.href = '<%= login_path %>'" data-wow-delay="0.45s">Đăng nhập</button>
        <% end %>
        <button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('<%= new_product_path %>')" data-wow-delay="0.48s">Đăng tin</button>
      </div>
      <ul class="main-nav nav navbar-nav navbar-right">
        <li class="wow fadeInDown" data-wow-delay="0.1s">
          <a href="index.html" data-delay="200">Tin nóng</a>
        </li>
        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="properties.html">Nhà đất</a></li>
        <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href="property.html">Căn hộ</a></li>
        <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="contact.html">Dự án</a></li>
        <li class="dropdown yamm-fw" data-wow-delay="0.4s">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Thiết kế & Thi công <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Nhà đẹp</h5>
                    <ul>
                      <li>
                        <a href="index.html">Nhà phố</a>
                      </li>
                      <li>
                        <a href="index-2.html">Nhà villa</a>
                      </li>
                      <li>
                        <a href="index-3.html">Biệt thự</a>
                      </li>
                      <li>
                        <a href="index-4.html">Âu Mỹ</a>
                      </li>
                      <li>
                        <a href="index-5.html">Rẻ mà đẹp</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Phong thuỷ</h5>
                    <ul>
                      <li><a href="blog.html">Phong thuỷ hướng & đường</a>  </li>
                      <li><a href="single.html">Phong thuỷ nội thất</a>  </li>
                      <li><a href="single-right.html">Cổng & Bếp & Cầu thang</a>  </li>
                      <li><a href="single-left.html">Mệnh cách</a> </li>
                      <li><a href="single-left.html">Bố trí không gian</a> </li>
                      <li><a href="single-left.html">Khu vực xung quanh</a> </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Thiết kế</h5>
                    <ul>
                      <li><a href="property-1.html">Tư vấn thiết kế</a> </li>
                      <li><a href="property-2.html">Mẫu thiết kế mới</a> </li>
                      <li><a href="property-3.html">Đơn vị thiết kế</a> </li>
                    </ul>
                    <h5>Thi công</h5>
                    <ul>
                      <li><a href="properties.html">Giá cả nhân công</a> </li>
                      <li><a href="properties-2.html">Chìa khoá trao tay</a> </li>
                      <li><a href="properties-3.html">Đơn vị thi công</a> </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Sơn & Chống thấm</h5>
                    <ul>
                      <li><a href="submit-property.html">Phương pháp phối màu</a> </li>
                      <li><a href="submit-property.html">Tối ưu chống thấm</a> </li>
                      <li><a href="submit-property.html">Nhãn hàng sơn</a> </li>
                    </ul>
                    <h5>Nội thất & Gia dụng</h5>
                    <ul>
                      <li><a href="register.html">Nội thất phòng khách</a>   </li>
                      <li><a href="user-properties.html">Nội thất nhà bếp</a>  </li>
                      <li><a href="submit-property.html">Nội thất phòng ngủ</a>  </li>
                      <li><a href="change-password.html">Nội thất nhà vệ sinh</a> </li>
                      <li><a href="user-profile.html">Trang trí tổng quan</a>  </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.yamm-content -->
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
