<!DOCTYPE html>
<html>
  <head>
    <title>Bds</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'homes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="homeApp" class="header-fixed header-fixed-space-default" ng-strict-di
    style="margin-bottom: 0px;">
    <div class="wrapper">
      <%= render "homes/layouts/header" %>
      <%= yield %>
      <%= render "homes/layouts/footer" %>
    </div>
    <%= javascript_include_tag 'ng_home' %>
  </body>
</html>
