<!DOCTYPE html>
<html>
  <head>
    <title>Bds</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'homes', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div id="preloader">
      <div id="status">&nbsp;</div>
    </div> -->
    <%= render "homes/layouts/header" %>
    <%= render "homes/layouts/navbar" %>
    <%= yield %>
    <%= render "homes/layouts/footer" %>
  </body>
</html>
